.allcard {
  display: flex;
  justify-content: center;
  float: left;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
  height: 250px;
  width: 45%;
  overflow: hidden;
  text-align: center;
}

.pic {
  width: 100%;
}

h3 {
  position: absolute;
}
